*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cuadros de la barra de informacion de arriba*/

.nombre_inicio {
    margin-top: -10px;
    margin-left: 170px;

}

.inicio {
    margin-top: 3px;
    margin-left: 170px;

}

.img-2 {
    height: 133px;
    width: 160px;
}

.img-2 {
    margin-top: -137px;
    margin-left: 20px;
}

.hover-effect:hover {
	background-color: #eee;
	color: #333;
  }
  
  header {
	background-color: #646464;
	color: #ffffff;
	padding: 30px;
}

a {
	transition: 0.5s;
}

a:hover{
    color: rgb(58, 58, 58);
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}
		
nav li {
	margin-right: 20px;
	font-family: 'Shantell Sans', cursive;
	font-size: 18px;
	font-weight: 400;
	font-style: regular;
}
		
nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
}

/*nombre principal*/

h1 {
	margin: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 32px;
	font-weight: 500;
	font-style: regular;
}



.contact {
    padding: 25px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width:768px) {
    .title {
        margin-bottom: 0;
        font-size: 35px;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }
}

/*CARRUSEL*/

.carousel-item1 {
    height: 50px;
    width: 100px;
}

/*senalador*/

.caja_s {
    margin-top: 10px;
    margin-left: 50px;
    width: 1250px;
    height: 100px;
    background-color: #646464;
    /*position: absolute;*/
    bottom: 0px;
    left: 24px;
    border-radius: 5%;
    
}

.titulooo {
    margin-top: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.textooo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

/*contenido 1 */

.caja {
    margin-top: 40px;
    margin-left: 50px;
    width: 300px;
    height: 500px;
    background-color: rgb(73, 73, 73);
    /*position: absolute;*/
    bottom: 0px;
    left: 24px;
    border-radius: 5%;
    
}

.Nevera1 {
    background-image: url(../Proyecto final - Luis Barrientos/img/Neveras.png);
    width: 400px;
    height: 400px;
}

.titulo1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.texto01 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.mi-boton1 {
    margin-top: -10px;
    margin-left: 90px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

.mi-boton:hover {
    background-color: #d3d1d1; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/*contendio 2*/

.Caja2 {
    margin-top: -500px;
    margin-left: 450px;
    width: 400px;
    height: 500px;
    background-color: rgb(73, 73, 73);
    /*position: absolute;*/
    bottom: 0px;
    left: 500px;
    border-radius: 5%;
}

.Nevera2 {
    background-image: url(../Proyecto\ final\ -\ Luis\ Barrientos/img/Congelador superior RTF380G.png);
    width: 400px;
    height: 400px;
}

.titulo2 {
    margin-top: -30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.texto02 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.mi-boton2 {
    margin-top: 10px;
    margin-left: 130px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

.mi-boton:hover {
    background-color: #d3d1d1; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/*contenido 3*/

.Caja3 {
    margin-top: -470px;
    margin-left: 450px;
    width: 400px;
    height: 500px;
    background-color: rgb(73, 73, 73);
    /*position: absolute;*/
    bottom: 0px;
    left: 500px;
    border-radius: 5%;
}

.Nevera3 {
    /*background-image: url(../Proyecto\ final\ -\ Luis\ Barrientos/img/Congelador superior RTF380G.png);*/
    width: 350px;
    height: 350px;
    margin-left: 30px;
}

.titulo3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.texto03 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.mi-boton3 {
    margin-top: 30px;
    margin-left: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

.mi-boton:hover {
    background-color: #d3d1d1; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/*contenido 3*/

.Caja4 {
    margin-top: 90px;
    margin-left: -850px;
    width: 400px;
    height: 550px;
    background-color: rgb(73, 73, 73);
    /*position: absolute;*/
    bottom: 0px;
    left: 500px;
    border-radius: 5%;
}

.Waflera {
    background-image: url(../Proyecto\ final\ -\ Luis\ Barrientos/img/Congelador superior RTF380G.png);
    width: 400px;
    height: 400px;
}

.titulo4 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.texto04 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.mi-boton4 {
    margin-top: 30px;
    margin-left: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

.mi-boton:hover {
    background-color: #d3d1d1; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/*contenido 3*/

.Caja5 {
    margin-top: -520px;
    margin-left: 420px;
    width: 400px;
    height: 550px;
    background-color: rgb(73, 73, 73);
    /*position: absolute;*/
    bottom: 0px;
    left: 500px;
    border-radius: 5%;
}

.Procesador {
    /*background-image: url(../Proyecto\ final\ -\ Luis\ Barrientos/img/Congelador superior RTF380G.png);*/
    width: 400px;
    height: 400px;
}

.titulo5 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.texto05 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.mi-boton5 {
    margin-top: 10px;
    margin-left: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

.mi-boton:hover {
    background-color: #d3d1d1; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}

/*contenido 6*/

.Caja6 {
    margin-top: -520px;
    margin-left: 420px;
    width: 400px;
    height: 540px;
    background-color: rgb(73, 73, 73);
    /*position: absolute;*/
    bottom: 0px;
    left: 500px;
    border-radius: 5%;
}

.Cafetera {
    /*background-image: url(../Proyecto\ final\ -\ Luis\ Barrientos/img/Congelador superior RTF380G.png);*/
    width: 350px;
    height: 350px;
}

.titulo6 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.texto06 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.mi-boton6 {
    margin-top: 20px;
    margin-left: 150px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #535353; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Quita el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
}

.mi-boton:hover {
    background-color: #d3d1d1; /* Cambia el color de fondo al pasar el ratón sobre el botón */
}


/*redes sociales*/

.barra-info {
    margin-left: -890px;
    margin-top: 100px;
	width: 1349px;
	background-color: #646464;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px 0;
  }
  
  .redes-sociales {
	margin-top: 10px;
  }
  
  .redes-sociales a {
	display: inline-block;
	margin: 0 10px;
  }
  
  .redes-sociales img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
  }

  /*estilo tigografia barra info de abajo*/

  .barra-info {
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


  .Dynoro {
    color: #ffffff;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .buscar2 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-left: 1200px;
    margin-top: -40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50px;
    height: 30px;
}

.buscar {
    text-align: center;
    margin-left: 1000px;
    margin-top: -350px;
}

input {
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}